extends layout/base
block body
  .container
    .row
      .col-sm-12
        form(action="/test/new", method="post")
          .form-group
            label(for="title") Title
            input.form-control(type="text", name="title")

          input.btn.btn-primary(type="submit")
